<div class="container">
  <div ng-controller="angEmpController">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="addItem()"> 添加 </button>
    <div class="page-header" style="margin: 20px 0 0;">
      <input ng-model="searchText" class="form-control input-lg" placeholder="过滤条件">
      <br>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{true:'active', false:'inactive'}[selectedType=='01']"><a href="" ng-click="selectedType='01'"><h4>开发测试</h4></a></li>
        <li role="presentation" ng-class="{true:'active', false:'inactive'}[selectedType=='02']"><a href="" ng-click="selectedType='02'"><h4>BPO</h4></a></li>
        <li role="presentation" ng-class="{true:'active', false:'inactive'}[selectedType=='03']"><a href="" ng-click="selectedType='03'"><h4>外地</h4></a></li>
        <li role="presentation" ng-class="{true:'active', false:'inactive'}[selectedType=='']"><a href="" ng-click="selectedType=''"><h4>其他</h4></a></li>
      </ul>
    </div>
    <div class="row">
      <div ng-repeat="item in items | filter:validate | filter:searchText">
        <div class="col-sm-12 col-md-6">
          <div class="thumbnail">
            <div class="caption">
              <!-- <a href="#" style="text-decoration : none" ng-click="like=!like"><i ng-class="{true:'fa fa-star fa-lg', false:'fa fa-star-o fa-lg'}[like]" aria-hidden="true"></i> <span>1,000</span></a> -->
              <h3 ng-bind="item.title"></h3>
              <p ng-bind="item.company"></p>
              <p style="white-space: pre-wrap;" ng-bind="item.jobDesc"></p>
              <p ng-bind="item.createdAt | date: 'yyyy-MM-dd'"></p>
              <p>
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="editItem(item)"> 编辑 </button>
                <button class="btn btn-default btn-lg pull-right" ng-click="removeItem(item)"> 删除 </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="qrbox" id="qrbox">
      <li class="item">
        <img src="/images/grcode1.png" alt="小助手">
        <h3 class="title">小助手</h3>
      </li>
      <li class="item">
        <img src="/images/grcode2.png" alt="公众号">
        <h3 class="title">公众号</h3>
      </li>
    </ul>
    <div class="mask" id="mask"></div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="modal-body" name="myForm" novalidate>
            
            <div class="form-group">
              <input type="text" name="title" ng-model="employee.title"  class="form-control input-lg" placeholder="职位"/>
            </div>
            <div class="form-group">
              <input type="text" name="company" ng-model="employee.company"  class="form-control input-lg" placeholder="公司"/>
            </div>
            <div class="form-group">
              <textarea name="jobDesc" ng-model="employee.jobDesc"  class="form-control input-lg" placeholder="职位要求" rows="10" cols="30" required>
              </textarea>
              <div class="alert alert-danger input-lg" role="alert" ng-show="myForm.jobDesc.$invalid && myForm.jobDesc.$error.required">职位要求必须输入！</div>
            </div>
            <div class="form-group">
              <select name="type" class="form-control input-lg" ng-model="employee.type">
                <option value="">请输入职位分类</option>
                <option value="01">开发、测试岗位</option>
                <option value="02">BPO岗位</option>
                <option value="03">外地工作岗位</option>
              </select>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary btn-lg" ng-disabled="myForm.jobDesc.$invalid" ng-click="saveItem()"> 保存 </button>
              <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"> 关闭 </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>