<div class="container">
  <div ng-controller="angEmpController">
    <div class="alert alert-warning alert-dismissible" role="alert" ng-hide="authorized">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>QQ登录后，可以发布，维护，收藏职位</strong>
    </div>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="addItem()" ng-show="authorized" ng-cloak> 发布 </button>
    <span id="qqLoginBtn" ng-class="{true: 'pull-right', false: ''}[authorized]"></span>
    <script type="text/javascript">
    //调用QC.Login方法，指定btnId参数将按钮绑定在容器节点中
    QC.Login({
    //btnId：插入按钮的节点id，必选
    btnId:"qqLoginBtn",
    //用户需要确认的scope授权项，可选，默认all
    scope:"all",
    //按钮尺寸，可用值[A_XL| A_L| A_M| A_S|  B_M| B_S| C_S]，可选，默认B_S
    size: "A_XL"
    }, function(reqData, opts){//登录成功
    //根据返回数据，更换按钮显示状态方法
    var dom = document.getElementById(opts['btnId']),
    _logoutTemplate=[
    //头像
    '<span><img src="{figureurl_qq_1}" class="{size_key}"/></span>',
    //昵称
    '<span><font size="5"> {nickname} </font></span>',
    //退出
    '<span><a href="javascript:QC.Login.signOut();"><font size="5">退出</font></a></span>'
    ].join("");
    dom && (dom.innerHTML = QC.String.format(_logoutTemplate, {
    nickname : QC.String.escHTML(reqData.nickname), //做xss过滤
    figureurl_qq_1 : reqData.figureurl_qq_1
    }));
    var appElement = document.querySelector('[ng-controller=angEmpController]');
    var $scope = angular.element(appElement).scope();
    if(QC.Login.check()){
    QC.Login.getMe(function(openId, accessToken){
    $scope.authorized=true;
    $scope.currentUser=openId;
    $scope.$apply();
    });
    }
    }, function(opts){//注销成功
    var appElement = document.querySelector('[ng-controller=angEmpController]');
    var $scope = angular.element(appElement).scope();
    $scope.authorized=false;
    $scope.currentUser='';
    $scope.$apply();
    }
    );
    </script>
    <div class="page-header" style="margin: 20px 0 0;">
      <input ng-model="searchText" class="form-control input-lg" placeholder="过滤条件">
      <br>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{true:'active', false:'inactive'}[selectedType=='01']"><a href="" ng-click="selectedType='01'"><h4>开发测试</h4></a></li>
        <li role="presentation" ng-class="{true:'active', false:'inactive'}[selectedType=='02']"><a href="" ng-click="selectedType='02'"><h4>BPO</h4></a></li>
        <li role="presentation" ng-class="{true:'active', false:'inactive'}[selectedType=='03']"><a href="" ng-click="selectedType='03'"><h4>外地</h4></a></li>
        <li role="presentation" ng-class="{true:'active', false:'inactive'}[selectedType=='']"><a href="" ng-click="selectedType=''"><h4>其他</h4></a></li>
      </ul>
    </div>
    <div class="row">
      <div ng-repeat="item in items | filter:validate | filter:searchText">
        <div class="col-sm-12 col-md-6">
          <div class="thumbnail" >
            <div class="caption">
              <a href="" style="text-decoration : none" ng-click="toggleLike(item)"><i ng-class="{true:'fa fa-star fa-lg', false:'fa fa-star-o fa-lg'}[item.like]" aria-hidden="true" ng-show="authorized"></i> <span ng-bind="item.likeAmt" ng-show="authorized"></span></a>
              <h3 ng-bind="item.title"></h3>
              <p ng-bind="item.company"></p>
              <p style="white-space: pre-wrap;" ng-bind="item.jobDesc"></p>
              <p ng-bind="item.updatedAt | date: 'yyyy-MM-dd'"></p>
              <p>
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="editItem(item)" ng-show="authorized&&currentUser==item.createdBy"> 编辑 </button>
                <button class="btn btn-default btn-lg pull-right" ng-click="removeItem(item)" ng-show="authorized&&currentUser==item.createdBy"> 删除 </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="qrbox" id="qrbox">
      <li class="item">
        <img src="/images/grcode3.png" alt="内推小助手">
        <h3 class="title">内推小助手</h3>
      </li>
      <li class="item">
        <img src="/images/grcode1.png" alt="开源小助手">
        <h3 class="title">开源小助手</h3>
      </li>
      <li class="item">
        <img src="/images/grcode2.png" alt="开源公众号">
        <h3 class="title">开源公众号</h3>
      </li>
    </ul>
    <div class="mask" id="mask"></div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="modal-body" name="myForm" novalidate>
            
            <div class="form-group">
              <input type="text" name="title" ng-model="employee.title"  class="form-control input-lg" placeholder="职位"/>
            </div>
            <div class="form-group">
              <input type="text" name="company" ng-model="employee.company"  class="form-control input-lg" placeholder="公司"/>
            </div>
            <div class="form-group">
              <textarea name="jobDesc" ng-model="employee.jobDesc"  class="form-control input-lg" placeholder="职位要求" rows="10" cols="30" required>
              </textarea>
              <div class="alert alert-danger input-lg" role="alert" ng-show="myForm.jobDesc.$invalid && myForm.jobDesc.$error.required">职位要求必须输入！</div>
            </div>
            <div class="form-group">
              <select name="type" class="form-control input-lg" ng-model="employee.type">
                <option value="">请输入职位分类</option>
                <option value="01">开发、测试岗位</option>
                <option value="02">BPO岗位</option>
                <option value="03">外地工作岗位</option>
              </select>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary btn-lg" ng-disabled="myForm.jobDesc.$invalid" ng-click="saveItem()"> 保存 </button>
              <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"> 关闭 </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>