<html lang="cn" ng-app>
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/styles/importer.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/styles/signin.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<body>
		<%- body %>
		<script src="/vendor/requirejs/require.js" data-main="/js/main"></script>
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260882244'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260882244%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
	</body>