<html lang="cn" ng-app>
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="/styles/importer.css">
	<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="1105746871" data-redirecturi="http://localhost:1337/employee/index" charset="utf-8"></script>
	<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" charset="utf-8" data-callback="true" ></script>
	<meta name="viewport" charset="utf-8" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<body>
		<%- body %>
		<script src="/vendor/requirejs/require.js" data-main="/js/main"></script>
	</body>