<html lang="cn" ng-app>
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <meta charset="utf-8">
  <body>
    <%- body %>
    <script src="/vendor/requirejs/require.js" data-main="/js/main"></script>
  </body>