<html lang="cn" ng-app>
	<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="/styles/importer.css">
	<meta name="viewport" charset="utf-8" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<body>
		<%- body %>
		<script src="/vendor/requirejs/require.js" data-main="/js/main"></script>
	</body>